affine @ file:///home/conda/feedstock_root/build_artifacts/affine_1674245120525/work
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
asttokens==2.4.1
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1704011227531/work
branca @ file:///home/conda/feedstock_root/build_artifacts/branca_1714071803448/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1695989787169/work
Cartopy @ file:///home/conda/feedstock_root/build_artifacts/cartopy_1715897440281/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1725278078093/work/certifi
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1633637764473/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
comm==0.2.2
contourpy @ file:///home/conda/feedstock_root/build_artifacts/contourpy_1712429897138/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1696677705766/work
debugpy==1.8.1
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
executing==2.0.1
fiona @ file:///home/conda/feedstock_root/build_artifacts/fiona_1716309369291/work
flexcache @ file:///home/conda/feedstock_root/build_artifacts/flexcache_1718124134876/work
flexparser @ file:///home/conda/feedstock_root/build_artifacts/flexparser_1718131279545/work
folium @ file:///home/conda/feedstock_root/build_artifacts/folium_1709209270269/work
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1717209181406/work
GDAL @ file:///home/conda/feedstock_root/build_artifacts/gdal-split_1716892648354/work/build/swig/python
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1714335488963/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1713279365350/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1719234999090/work
imageio-ffmpeg @ file:///home/conda/feedstock_root/build_artifacts/imageio-ffmpeg_1717461632069/work
ipykernel==6.29.4
ipython==8.25.0
jdcal==1.4.1
jedi==0.19.1
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1715127149914/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1714665484399/work
juliandate==1.0.4
jupyter_client==8.6.2
jupyter_core==5.7.2
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1695379920604/work
mapclassify @ file:///home/conda/feedstock_root/build_artifacts/mapclassify_1696563523338/work
markdown-it-py==3.0.0
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1706899926732/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1715976244352/work
matplotlib-inline==0.1.7
mdurl==0.1.2
MetPy @ file:///home/conda/feedstock_root/build_artifacts/metpy_1724775809880/work
moviepy @ file:///home/conda/feedstock_root/build_artifacts/moviepy_1665160419595/work
munkres==1.1.4
nest-asyncio==1.6.0
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1712540363324/work
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1707225376651/work/dist/numpy-1.26.4-cp311-cp311-linux_x86_64.whl#sha256=d08e1c9e5833ae7780563812aa73e2497db1ee3bd5510d3becb8aa18aa2d0c7c
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1710075952259/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1715897625506/work
parso==0.8.4
pexpect==4.9.0
pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1712154447422/work
Pint @ file:///home/conda/feedstock_root/build_artifacts/pint_1720883462887/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1715777629804/work
ply @ file:///home/conda/feedstock_root/build_artifacts/ply_1712242996588/work
polars==0.20.31
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1717777836653/work
proglog==0.1.9
prompt_toolkit==3.0.46
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==16.1.0
Pygments==2.18.0
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1709721012883/work
pyproj @ file:///home/conda/feedstock_root/build_artifacts/pyproj_1714527237892/work
PyQt5==5.15.9
PyQt5-sip==12.12.2
pyshp @ file:///home/conda/feedstock_root/build_artifacts/pyshp_1659002966020/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1661604839144/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706886791323/work
pyzmq==26.0.3
raster2xyz==0.1.3
rasterio @ file:///home/conda/feedstock_root/build_artifacts/rasterio_1717673073483/work
rasterstats==0.19.0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1717057054362/work
rich==13.7.1
rioxarray @ file:///home/conda/feedstock_root/build_artifacts/rioxarray_1713807399234/work
Rtree @ file:///home/conda/feedstock_root/build_artifacts/rtree_1705697880707/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1716489734259/work/dist/scikit_learn-1.5.0-cp311-cp311-linux_x86_64.whl#sha256=4e4d00ec549661aa22a03bd61e339cfd7abf80e247c75a0b3a95cc04b3c04b2d
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy-split_1716470220807/work/dist/scipy-1.13.1-cp311-cp311-linux_x86_64.whl#sha256=497f9d1a91aa2301c4dbd6d0678fb3053900d59dde1ee936267e18aee722ba8f
seaborn @ file:///croot/seaborn_1718302919398/work
shapely @ file:///home/conda/feedstock_root/build_artifacts/shapely_1715876453861/work
simplejson @ file:///home/conda/feedstock_root/build_artifacts/simplejson_1723702747264/work
sip @ file:///home/conda/feedstock_root/build_artifacts/sip_1697300428897/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
skimpy==0.0.15
snuggs==1.4.7
stack-data==0.6.3
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1714400101435/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1708363099148/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1714854870413/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1713535121073/work
typeguard==4.2.1
typing_extensions==4.12.1
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1707747584337/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1708239446578/work
wcwidth==0.2.13
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1715608052382/work
xyzservices @ file:///home/conda/feedstock_root/build_artifacts/xyzservices_1712209912887/work
